<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Moodifier - Playlist | Happiness</title>
       <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
    <link rel="stylesheet" href="../static/styles2.css" />
  </head>

  <body class="body2">
    <center>
      <div class="title">
        <p>Here's a playlist to suit your mood!!</p>
      </div>
    </center>

    <br />
    <br />
    <center>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/NsORcrtDWvQ')"
      >
        Smack a B*tch - Rico Nasty
      </button>


      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/ZqOp76R12DM')"
      >
        We're Not Gonna Take It - Twisted Sister
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/XncZmUQqo1U')"
      >
        STFU - Rina Sawayama
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/wzvRxguTPa4')"
      >
        I'm Not Sorry - Dean
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/H4RELGc9su8')"
      >
        HUMBLE - Kendrick Lamar
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/hS14M2QeGjk')"
      >
        B*tch, Don’t Kill My Vibe
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/AS6JkrwYVt0')"
      >
        Teardrops - Bring me the horizon
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/eWSrYT9zC-s')"
      >
         Villain - Stella Jang
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/dIQmcwSg0nU')"
      >
        Bad - Michael Jackson
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/yaGdH6U743c')"
      >
       B*tch better have my money - Rihanna
      </button>
      

      <br /><br /><br />
      <iframe
        id="iframe"
        width="280"
        height="157.5"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </center>

    <div class="footer">
      <center>
        <p>
          made with ❤ by Hanna, Elle, Job and Aakash | source code in GitHub
          repo<a href="https://github.com/aakzsh/moodifier" color="white">
            here</a
          >
        </p>
      </center>
    </div>
  </body>
</html>
