<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Moodifier - Playlist | Happiness</title>
        <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
    <link rel="stylesheet" href="../static/styles2.css" />
  </head>

  <body class="body3">
    <center>
      <div class="title">
        <p>Here's a playlist to suit your mood!!</p>
      </div>
    </center>

    <br />
    <br />
    <center>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/-1dSY6ZuXEY')"
      >
        Spooky Scary Skeletons
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/x7gfYWjuUR8')"
      >
        Disturbia - Rihanna
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/h9NJwvRXOMo')"
      >
        HALLOWEEN THEME (TRAP REMIX)
      </button>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/VnyigpFSai4')"
      >
        The Nightmare Before Christmas Soundtrack
      </button>
<br>
<button
  class="button"
  onclick="setURL('https://www.youtube.com/embed/l18A5BOTlzE')"
>
  Five Nights at Freddy's 1 - The Living Tombstone
</button>
<button
  class="button"
  onclick="setURL('https://www.youtube.com/embed/EiNwUpco4OI')"
>
  Friday Night Funkin' - Spookeez
</button>
<br>
<button
  class="button"
  onclick="setURL('https://www.youtube.com/embed/Fe93CLbHjxQ')"
>
  Ghostbusters - Ray Parker Jr.
</button>
<button
  class="button"
  onclick="setURL('https://www.youtube.com/embed/Z85lxckrtzg')"
>
  Thriller - Michael Jackson
</button>
      <br><br ><br >
      <iframe
        id="iframe"
        width="280"
        height="157.5"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </center>

    <div class="footer">
      <center>
        <p>
          made with ❤ by Hanna, Elle, Job and Aakash | source code in GitHub
          repo<a href="https://github.com/aakzsh/moodifier" color="white">
            here</a
          >
        </p>
      </center>
    </div>
  </body>
</html>
