<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Moodifier - Playlist | Happiness</title>
    <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
    <link rel="stylesheet" href="../static/styles2.css" />
  </head>

  <body class="body5">
    <center>
      <div class="title">
        <p>Ayee cheer up even more!!</p>
      </div>
    </center>

    <br />
    <br />
    <center>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/dqt8Z1k0oWQ')"
      >
        Can’t Feel My Face - The Weeknd
      </button>


      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/nCEuT91UAcg')"
      >
        Kokomo - Beach Boys
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/YBdyc1WDlBQ')"
      >
        Livin' On A Prayer - Bon Jovi
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/bsAs-xrUfjw')"
      >
        Kiss U Right Now - Duckwrth
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/HLBqwrobyRk')"
      >
        Lizzo - Juice
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/WhHS8xexCaU')"
      >
        Anything You Want - Jawny
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/2IA7QExh-NQ')"
      >
        Ain't it fun - Paramore
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/Dwzk-XZxZ4k')"
      >
         telepatía - Kali Uchis
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/y_uvv1UKMQ0')"
      >
        Still feel - Half Alive
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/JSw2CF4EoKA')"
      >
        Signal - Twice
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/V60N12UFNN4')"
      >
        Friday Night Funkin' OST - Bopeebo
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/egUQju95vT8 ')"
      >
        Studio Killers - Jenny
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/OqBuXQLR4Y8')"
      >
        Best Friend - Red Orange Country
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/pXT_XCi6G9Y')"
      >
        Love - Deantrbl
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/BHfXhiUgnQ0')"
      >
        Pump It - The Black Eyed Peas

      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/G9cD3987ub8  ')"
      >
        Bonnie & Clyde - Deantrbl
      </button>

      <br /><br /><br />
      <iframe
        id="iframe"
        width="280"
        height="157.5"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </center>

    <div class="footer">
      <center>
        <p>
          made with ❤ by Hanna, Elle, Job and Aakash | source code in GitHub
          repo<a href="https://github.com/aakzsh/moodifier" color="white">
            here</a
          >
        </p>
      </center>
    </div>
  </body>
</html>
