<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Moodifier - Playlist | Disgut</title>
      <link rel="stylesheet" href="../static/styles3.css">
      <link rel="stylesheet" href="../static/styles2.css">
    </head>
    <body class="l_disgust">
      <center>
        <button
          class="button"
          onclick="window.location.href='https://aakzsh.github.io/moodifier-html-pages/allemotions'"
        >
          explore other emotions
        </button>

      </center>

    <div class="button1" onclick="window.location.href='https://aakzsh.github.io/moodifier-html-pages/rickroll.html'">
    <img src="https://i.ibb.co/2SDYD2f/disgust-neutral.png" alt="" height="250px">

    </div>

    <div class="button2" onclick="window.location.href='https://aakzsh.github.io/moodifier-html-pages/topsongs.html'">
    <img src="https://i.ibb.co/2SDYD2f/disgust-neutral.png" alt="" height="250px">

    </div>
    </body>
</html>
