<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Moodifier - Playlist | Surprised</title>
      <link rel="stylesheet" href="../static/styles3.css">
      <link rel="stylesheet" href="../static/styles2.css">
    </head>
    <body class="l_surprise">
      <center>
        <button
          class="button"
          onclick="window.location.href='https://aakzsh.github.io/moodifier-html-pages/allemotionss'"
        >
          explore other emotions
        </button>

      </center>

      <div class="button1" onclick="window.location.href='https://aakzsh.github.io/moodifier-html-pages/sleepy.html'">
      <img src="https://i.ibb.co/jrYmVz9/surprise2.png" alt="" height="220px">

      </div>

      <div class="button2" onclick="window.location.href='https://aakzsh.github.io/moodifier-html-pages/anger.html'">
      <img src="https://i.ibb.co/M1Vkqwy/surprise1.png" alt="" height="110px">

      </div>
    </body>
</html>
