<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Moodifier - Playlist | Scary</title>
      <link rel="stylesheet" href="../static/styles3.css">
      <link rel="stylesheet" href="../static/styles2.css">
    </head>
    <body class="l_scary">
      <center>
        <button
          class="button"
          onclick="window.location.href='https://aakzsh.github.io/moodifier-html-pages/allemotions'"
        >
          explore other emotions
        </button>

      </center>

      <div class="button1" onclick="window.location.href='https://aakzsh.github.io/moodifier-html-pages/fear.html'">
      <img src="https://i.ibb.co/5kBvgsZ/scary1.png" alt="" height="275px">

      </div>

      <div class="button2" onclick="window.location.href='https://aakzsh.github.io/moodifier-html-pages/resources.html'">
      <img src="https://i.ibb.co/cNS7V0c/scary2.png" alt="" height="275px">

      </div>
    </body>
</html>
