<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Moodifier - Playlist | Sad</title>
      <link rel="stylesheet" href="../static/styles3.css">
      <link rel="stylesheet" href="../static/styles2.css">
    </head>
    <body class="l_sad">
      <center>
        <button
          class="button"
          onclick="window.location.href='allemotions.html'"
        >
          explore other emotions
        </button>

      </center>

      <div class="button1" onclick="window.location.href='resources.html'">
      <img src="https://i.ibb.co/gvzwxRV/sad2.png" alt="" height="300px">

      </div>

      <div class="button2" onclick="window.location.href='sadness.html'">
      <img src="https://i.ibb.co/DkZnMPF/sad1.png" alt="" height="300px">

      </div>
    </body>
</html>
