<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Moodifier - Playlist | Happiness</title>
    <script async src="../static/index.js"></script>
    <link rel="stylesheet" href="../static/styles2.css" />
  </head>

  <body class="body4">
    <center>
      <div class="title">
        <p>Here's a playlist to suit your mood!!</p>
      </div>
    </center>

    <br />
    <br />
    <center>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/O-6f5wQXSu8')"
      >
        Meditation for Anxiety Pt1
      </button>


      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/MR57rug8NsM')"
      >
        Meditation for Anxiety Pt2
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/BsVq5R_F6RA')"
      >
        Meditation for Anxiety Pt3
      </button>

      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/MIr3RsUWrdo')"
      >
        Meditation for Anxiety Pt4
      </button>


      <br /><br /><br />
      <iframe
        id="iframe"
        width="280"
        height="157.5"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </center>

    <div class="footer">
      <center>
        <p>
          made with ❤ by Hanna, Elle, Job and Aakash | source code in GitHub
          repo<a href="https://github.com/aakzsh/moodifier" color="white">
            here</a
          >
        </p>
      </center>
    </div>
  </body>
</html>
