<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Moodifier - Playlist | Happiness</title>
    <script async src="../static/index.js"></script>
    <link rel="stylesheet" href="../static/styles2.css" />
  </head>

  <body class="body4">
    <center>
      <div class="title">
        <p>YOU'VE BEEN RICKROLLED ;)</p>
      </div>
    </center>

    <br />
    <br />
    <center>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/dQw4w9WgXcQ')"
      >
        Never Gonna Give You Up
      </button>


      

      <br /><br /><br />
      <iframe
        id="iframe"
        width="280"
        height="157.5"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </center>

    <div class="footer">
      <center>
        <p>
          made with ❤ by Hanna, Elle, Job and Aakash | source code in GitHub
          repo<a href="https://github.com/aakzsh/moodifier" color="white">
            here</a
          >
        </p>
      </center>
    </div>
  </body>
</html>
