<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Moodifier - Playlist | Sadness</title>
    <script async src="../static/index.js"></script>
    <link rel="stylesheet" href="../static/styles2.css" />
  </head>

  <body class="body1">
    <center>
      <div class="title">
        <p>We can relate</p>
      </div>
    </center>

    <br />
    <br />
    <center>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/LAW5JibpkTY')"
      >
        Grenade - Bruno Mars
      </button>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/a9IbmRb1KEc')"
      >
        Hello - Adele
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/GVZqDCG2VrA')"
      >
        Nobody - Mistski Mistski
      </button>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/fRQg_9ulGuI')"
      >
        Summertime sadness - Lana Del Ray
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/73zPHV40lq')"
      >
        Wish the world away - Ollie MN
      </button>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/YExTeG6cYiw')"
      >
        No Halo - BrockHampton
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/8UVNT4wvIGY')"
      >
        Somebody that I used to know - Gotye
      </button>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/vzjUs5yR68o')"
      >
        Slow Dancing in the Dark - Joji
      </button>
      <br>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/HZcRKJf7rOI')"
      >
        Like you do - Joji
      </button>
      <button
        class="button"
        onclick="setURL('https://www.youtube.com/embed/yS2KyK3pqj4')"
      >
        As the world caves in - Matt Maltese
      </button>
<br>
<button
  class="button"
  onclick="setURL('https://www.youtube.com/embed/EB32NhsQGJA')"
>
  Good Years - Zayn
</button>
<button
  class="button"
  onclick="setURL('https://www.youtube.com/embed/_QzFnZ5oyTw')"
>
  Calamity - Zayn
</button>
      <br /><br /><br />
      <iframe
        id="iframe"
        width="280"
        height="157.5"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </center>

    <div class="footer">
      <center>
        <p>
          made with ❤ by Hanna, Elle, Job and Aakash | source code in GitHub
          repo<a href="https://github.com/aakzsh/moodifier" color="white">
            here</a
          >
        </p>
      </center>
    </div>
  </body>
</html>
