<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Moodifier - Playlist | Sadness</title>
    <link rel="stylesheet" href="../static/styles2.css">
  </head>
  <body class="body6">
    <center>
      <div class="title">
        <p>Here's a playlist to suit your mood!!</p>
      </div>
      </center>

      <br>
      <br>
<center>
  <button class="button" onclick="window.location.href='index.html'" >Dusk Till Dawn - Zayn</button>

  <button class="button" onclick="window.location.href='index.html'" >Dusk Till Dawn - Zayn</button>
  <br>
  <button class="button" onclick="window.location.href='index.html'" >Dusk Till Dawn - Zayn</button>
  <button class="button" onclick="window.location.href='index.html'" >Dusk Till Dawn - Zayn</button>
  <br>
  <button class="button" onclick="window.location.href='index.html'" >Dusk Till Dawn - Zayn</button>
  <button class="button" onclick="window.location.href='index.html'" >Dusk Till Dawn - Zayn</button>
<br><br><br>
<iframe width="280" height="157.5" src="https://www.youtube.com/embed/bWLgA4jUkuw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </center>

  <div class="footer">
    <center>
      <p>made with ❤ by Hanna, Elle, Job and Aakash | source code in GitHub repo<a href="https://github.com/aakzsh/moodifier" color="white"> here</a></p>
      </center>
  </div>
      </body>
</html>
